.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame {
    border-radius: 20px;
    background-color: #F0F8FF;
    padding: 10px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
}

.vertical-stack-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stack-layout {
    padding: 5px;
    text-align: center;
}

.countdown-label {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

.countdown-unit {
    font-size: 0.8em;
    color: gray;
    display: block;
}

.days-label {
    color: #1E90FF;
}

.hours-label {
    color: #32CD32;
}

.minutes-label {
    color: #FFA500;
}

.seconds-label {
    color: #FF6347;
}

.button-container {
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button */
    width: 100%; /* Optional: Make container full width */
    margin-top: 20px; /* Optional: Add some spacing at the top */
}

.centered-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #468fa2; /* Optional: Button color */
    color: white;
    border: none;
    border-radius: 10px; /* Rounded corners for a modern look */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

    .centered-button:hover {
        background-color: #267724; /* Darker shade on hover */
    }

    .centered-button:disabled {
        background-color: #d3d3d3; /* Grey background for disabled state */
        color: #a9a9a9; /* Light grey text for disabled state */
        cursor: not-allowed; /* Change cursor to indicate disabled state */
    }

.entry-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts spacing between input and button */
    gap: 10px; /* Adds space between input and button */
    margin-top: 10px; /* Optional: Adds some space above the container */
}
.entry {
    flex-grow: 1; /* Ensures input takes up available space */
    padding: 8px; /* Adds some padding to the input */
    font-size: 16px; /* Optional: Adjusts font size */
}