@page "/homepage"
@using System.Collections.Generic

<div class="phone-container">
	<div class="phone-screen">
		<!-- Using NavLink (with styling for active link) -->
		<NavLink href="/signin" class="nav-link">Sign IN</NavLink>

        <a href="/countdownpage">Countdown Page</a>
        <ul>
            @foreach (var game in games)
            {
                <li>@game</li>
            }
        </ul>
    </div>
</div>

@code {
    private List<string> games = new List<string>
    {

        "What do you seek?",
        "Found what you're looking for?",
        "Need help searching?",
        "We are all in search of something you know?"
    };
}
