.registration-container {
    padding: 20px;
}

.password-container {
    position: relative;
}

.password-criteria {
    margin-top: 5px;
    padding: 5px; /* Reduce padding around the container */
}

    .password-criteria .error-text {
        color: red;
        margin: 3px 0; /* Reduce vertical spacing between criteria */
        font-size: 0.8rem; /* Slightly decrease font size if needed */
    }

.button-container {
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button */
    width: 100%; /* Optional: Make container full width */
    margin-top: 20px; /* Optional: Add some spacing at the top */
}

.centered-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #468fa2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: slideEffect 1.8s ease-in-out infinite alternate;
}

@keyframes slideEffect {
    from {
        transform: translateX(-15px);
    }

    to {
        transform: translateX(15px);
    }
}

.centered-button:hover {
    background-color: #267724;
}

.centered-button:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed;
    animation: none; /* Stop sliding effect when disabled */
}

.password-container {
    position: relative;
}

.entry {
    padding-right: 30px; /* Add padding so text doesn't overlap with icon */
}

.password-toggle-icon {
    position: absolute;
    right: 10px; /* Adjust for positioning */
    top: 50%; /* Vertically center */
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon {
    font-size: 1.5rem; /* Adjust the size of the icon */
    color: #888; /* Change the color as needed */
}
