.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-body {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.sponsor-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sponsor-avatar {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.sponsor-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-close-btn {
    background-color: #468fa2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

    .modal-close-btn:hover {
        background-color: #267724;
    }
